/logs/
/aliens/*.*
/!aliens/your_aliens_go_here.txt
/examples/customalien/build/
/examples/customalien/dist/
/examples/customalien/nbproject/private/
/aliens/Test/nbproject/private/
/aliens/Test/build/
/aliens/Test/dist/